hosts
/ansible-all/backup/*
/ansible-all/backup/
/ansible-all/common/files/ssh_host_rsa_key.pub
/ansible-all/common/files/
/anible-all/zabbix-agent/hosts
/ansible-all/hosts
/ansible-all/ansible.cfg
/*.pub
*.pub
*hosts

/home/ubulib/Rep/.gitignore
